{% extends 'bootstrap4/bootstrap4.html' %}
{% load staticfiles %}

{% load bootstrap4 %}

{% block bootstrap4_extra_head %}

    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/sb-admin.min.css' %}" rel="stylesheet">

{% endblock %}

{% block bootstrap4_title %}
    {% block title %}
        Honeypoots
    {% endblock %}
{% endblock %}

{% block bootstrap4_content %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <a class="navbar-brand" href="{% url 'home' %}">Honeypoots</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                    <a class="nav-link" href="{% url 'dash' %}">
                        <i class="fa fa-fw fa-dashboard"></i>
                        <span class="nav-link-text">Dashboard</span>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                    <a class="nav-link text-center" id="sidenavToggler">
                        <i class="fa fa-fw fa-angle-left"></i>
                    </a>
                </li>
            </ul>

        </div>
    </nav>
    <div class="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'dash' %}">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Blank Page</li>
            </ol>
            <div class="row">
                <div class="col-12">
                    {% block body%}
                        <h1>Blank</h1>
                    <p>This is an example of a blank page that you can use as a starting point for creating new
                        ones.</p>
                        {% endblock %}
                </div>
            </div>
        </div>
        <!-- /.container-fluid-->
        <!-- /.content-wrapper-->
        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small>Copyright © Honeypoots 2018</small>
                </div>
            </div>
        </footer>
    </div>
{% endblock %}